{% load static %}
<footer>
    <img src="{% static 'landing/images/logo-color.svg' %}" style="max-width: 164px;" alt="">
    <div class="copyright">Copyright © 2019-2020 Linkcoin LLC</div>
    <ul>
        <li><a href="/policy/aboutas">About Us</a></li>
        <li><a href="/policy/terms">Agreement</a></li>
        <li><a href="/policy/terms">Terms & Conditions</a></li>
        <li><a href="/policy/refunds">Policy</a></li>
        <li><a href="/policy/support">Support</a></li>
    </ul>
</footer>
