{% extends "policy/policy_template.html" %}

{% block content %}
<div class="paragraph">
    <h2>1. If I paid for the subscription, can I get a refund?</h2>
    <p>No, unfortunately you cannot get a refund, because the funds you spent were received by the partner who invited you. We do not provide an opportunity to return funds as the idea of ​​our service is lost.</p>
</div>

<div class="paragraph">
    <h2>2. Can I pay for the subscription in one way and withdraw money in another?</h2>
    <p>Yes, you can do it. Regardless of the way you paid for the subscription, you can withdraw your funds in any of the available ways.</p>
</div>

<div class="paragraph">
    <h2>3. Why is it currently possible to buy and withdraw funds only on Bitcoin?</h2>
    <p>Unfortunately, due to COVID-19, payment systems have been verifying a new type of Business for a long time. In the near future you will be able to pay for your subscription and withdraw funds in various ways.</p>
</div>

<div class="paragraph">
    <h2>4. Why is there a fee for withdrawing funds?</h2>
    <p>Linkcoin is not responsible for withdrawal fees. This is a commission of payment systems to which you withdraw your funds.</p>
</div>

<div class="paragraph">
    <h2>5. How much will I get if a client follows my link to subscribe for 3 months or a year?</h2>
    <p>If a customer purchases a 3 month subscription, then you will receive $ 60. If a customer purchases a 12 month subscription, then you will receive $ 240. That is, for each month of your referred client, you will receive $ 20.</p>
</div>

<div class="paragraph">
    <h2>6. Why should I create a new link in my personal account?</h2>
    <p>You can create up to 3 personal links to improve traffic. You can create a link for example with your nickname on Instagram or Facebook in order for people to recognize you more.</p>
</div>

<div class="paragraph">
    <h2>7. Why am I not automatically charged when I renew my subscription for the next month?</h2>
    <p>Indeed, we do not charge the subscription fee automatically, this is done for security. We do not specifically remember your payment information so that in cases of hacking of your account by fraudsters, they do not get the data of your payment systems. Our subscription works like a timer or hourglass, you can buy a subscription at any time and it will be added to your current subscription, that is, if you have 10 days left until the end of the subscription and you want to renew it, then when you buy a subscription for 30 days from you total 40 days (30 days of new subscription + 10 days that you have left).</p>
</div>

<div class="paragraph">
    <h2>8. What should I do if I entered incorrect details when withdrawing funds?</h2>
    <p>Linkcoin Payouts work automatically, funds will be sent to the method you which specified, so be attentive when adding a new payment method.</p>
</div>

{% endblock %}