<div style="color:#444;font-family:&quot;Segoe UI&quot;,Segoe,&quot;Avenir Next&quot;,&quot;Open Sans&quot;,Corbel,sans-serif;font-size:14px;line-height:1.5;margin:0">
    <table cellpadding="5" cellspacing="0" width="100%" border="0" style="border-collapse:collapse;color:#444;font-family:&quot;Segoe UI&quot;,Segoe,&quot;Avenir Next&quot;,&quot;Open Sans&quot;,Corbel,sans-serif;font-size:14px;line-height:1.5;background-color:#fff;background-image:url(https://ci4.googleusercontent.com/proxy/rnF5_j1KiHbL2YPSfYVdSwsyp_baWxNNlugRchnjfKkdiVSpwT0fGb0oDNVqz7KoLtIHj5VuhFMEziq2TSSSK4Pa4lkSjv1pywvWL35z88QoGZlbhUUF35kD32a6SE9ylPC0mFn0VO6Cg3p1SsKHkFfTOCN7j6L4ycI87u-3GFydiNhjajRojUED4Mh5-fE8rG9qMNXwTcRnNLkxURLymx3L9sNVgl7CztJmqwoa59uMZZS2ZQ=s0-d-e1-ft#https://s7441865.sendpul.se/image/9dae6d62c816560a842268bde2cd317d/files/emailservice/userfiles/e87c2cc59bdd62b30b9245c0a00c5c32366067/abandoned_cart/bg-ab-3.png);background-repeat:no-repeat" bgcolor="#FFFFFF">
      <tbody>
        <tr style="border-color:transparent">
          <td align="center" style="border-collapse:collapse;border-color:transparent">
            <table cellpadding="0" cellspacing="0" width="600px" id="m_-1254739047852656969m_1298901589622155414bodyTable" border="0" bgcolor="transparent" style="border-collapse:collapse;color:#444;font-family:&quot;Segoe UI&quot;,Segoe,&quot;Avenir Next&quot;,&quot;Open Sans&quot;,Corbel,sans-serif;font-size:14px;line-height:1.5">
              <tbody>
                <tr style="border-color:transparent">
                  <td border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-color:transparent">
                    <table cellpadding="0" cellspacing="0" style="border-collapse:collapse;color:#444;font-family:&quot;Segoe UI&quot;,Segoe,&quot;Avenir Next&quot;,&quot;Open Sans&quot;,Corbel,sans-serif;font-size:14px;line-height:1.5;width:100%" border="0" width="100%">
                      <tbody>
                        <tr style="border-color:transparent">
                          <th width="600" style="border-color:transparent;font-weight:400;text-align:left;vertical-align:top" cellpadding="0" cellspacing="0" align="left" valign="top">
                            <table border="0" width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;color:#444;font-family:&quot;Segoe UI&quot;,Segoe,&quot;Avenir Next&quot;,&quot;Open Sans&quot;,Corbel,sans-serif;font-size:14px;line-height:1.5;background-color:transparent">
                              <tbody>
                                <tr style="border-color:transparent">
                                  <td cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-color:transparent">
                                    <table width="100%" cellpadding="0" cellspacing="0" id="m_-1254739047852656969m_1298901589622155414wout_block_20_element_0" style="border-collapse:collapse;color:#444;font-family:&quot;Segoe UI&quot;,Segoe,&quot;Avenir Next&quot;,&quot;Open Sans&quot;,Corbel,sans-serif;font-size:14px;line-height:1.5">
                                      <tbody>
                                        <tr style="border-color:transparent">
                                          <td colspan="3" width="100%" height="15" style="border-collapse:collapse;border-color:transparent"></td>
                                        </tr>
                                        <tr style="border-color:transparent">
                                          <td style="border-collapse:collapse;border-color:transparent;width:1px!important" width="1" height="100%"></td>
                                          <td width="598" style="border-collapse:collapse;border-color:transparent;vertical-align:top" valign="top">
                                            <div id="m_-1254739047852656969m_1298901589622155414wout_block_20_element_0" style="color:#444;font-family:&quot;Segoe UI&quot;,Segoe,&quot;Avenir Next&quot;,&quot;Open Sans&quot;,Corbel,sans-serif;font-size:14px;line-height:1.5;display:block;height:44;width:100%" height="44" width="100%"><img border="0" width="209" height="auto" align="left" alt="logo-color" src="https://ci5.googleusercontent.com/proxy/Wshh52yd0CMXKisfJTeSgdlffidQjGdqYPo1qKbbeljkyKAwX6ZHcc30gstG1z00IL11uQAb4qnCMURVXVOOlxVs0AiFJDX8E5CLzjqRQqxmkM2HgYZFva69HRD3t5sgN5A5amPz18SFTsNW4R2Z624XApC9ls2j7gyKuHKnobz_xg=s0-d-e1-ft#https://s7441865.sendpul.se/files/emailservice/userfiles/65fcad593e55a594e9f4fa8784f52ff27441865/logo-color.png" style="text-decoration:none;border:0;height:auto;line-height:100%;outline:0;margin:0;display:block" class="CToWUd"></div>
                                          </td>
                                          <td style="border-collapse:collapse;border-color:transparent;width:1px!important" width="1" height="100%"></td>
                                        </tr>
                                        <tr style="border-color:transparent">
                                          <td colspan="3" width="100%" height="15" style="border-collapse:collapse;border-color:transparent"></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <table border="0" width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;color:#444;font-family:&quot;Segoe UI&quot;,Segoe,&quot;Avenir Next&quot;,&quot;Open Sans&quot;,Corbel,sans-serif;font-size:14px;line-height:1.5;background-color:transparent">
                              <tbody>
                                <tr style="border-color:transparent">
                                  <td cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-color:transparent">
                                    <table width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;color:#444;font-family:&quot;Segoe UI&quot;,Segoe,&quot;Avenir Next&quot;,&quot;Open Sans&quot;,Corbel,sans-serif;font-size:14px;line-height:1.5;height:30px;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0" height="30">
                                      <tbody>
                                        <tr style="border-color:transparent">
                                          <td height="30" style="border-collapse:collapse;border-color:transparent"></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr style="border-color:transparent">
                  <td border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-color:transparent">
                    <table cellpadding="0" cellspacing="0" style="border-collapse:collapse;color:#444;font-family:&quot;Segoe UI&quot;,Segoe,&quot;Avenir Next&quot;,&quot;Open Sans&quot;,Corbel,sans-serif;font-size:14px;line-height:1.5;width:100%" border="0" width="100%">
                      <tbody>
                        <tr style="border-color:transparent">
                          <th width="300" style="border-color:transparent;font-weight:400;text-align:left;vertical-align:top" cellpadding="0" cellspacing="0" align="left" valign="top">
                            <table border="0" width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;color:#444;font-family:&quot;Segoe UI&quot;,Segoe,&quot;Avenir Next&quot;,&quot;Open Sans&quot;,Corbel,sans-serif;font-size:14px;line-height:1.5;background-color:transparent">
                              <tbody>
                                <tr style="border-color:transparent">
                                  <td cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-color:transparent">
                                    <table width="100%" cellpadding="0" cellspacing="0" id="m_-1254739047852656969m_1298901589622155414wout_block_out_block_15" style="border-collapse:collapse;color:#032575;font-family:&quot;Segoe UI&quot;,Segoe,&quot;Avenir Next&quot;,&quot;Open Sans&quot;,Corbel,sans-serif;font-size:14px;line-height:1.5;font-weight:normal;margin:0">
                                      <tbody>
                                        <tr style="border-color:transparent">
                                          <td colspan="3" width="100%" height="10" style="border-collapse:collapse;border-color:transparent"></td>
                                        </tr>
                                        <tr style="border-color:transparent">
                                          <td style="border-collapse:collapse;border-color:transparent;width:10px!important" width="10" height="100%"></td>
                                          <td width="275" style="border-collapse:collapse;border-color:transparent;vertical-align:top" valign="top">
                                            <p style="font-size:26px;line-height:1.5;margin:0 0 10px;color:#032575;font-family:&quot;Segoe UI&quot;,Segoe,&quot;Avenir Next&quot;,&quot;Open Sans&quot;,Corbel,sans-serif;font-weight:normal;padding:0;text-transform:uppercase"><span style="font-size:26px"><strong><span style="text-transform:uppercase;color:#032575">{{ type }}</span></strong>
                                              </span>
                                            </p>
                                          </td>
                                          <td style="border-collapse:collapse;border-color:transparent;width:15px!important" width="15" height="100%"></td>
                                        </tr>
                                        <tr style="border-color:transparent">
                                          <td colspan="3" width="100%" height="1" style="border-collapse:collapse;border-color:transparent"></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <table border="0" width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;color:#444;font-family:&quot;Segoe UI&quot;,Segoe,&quot;Avenir Next&quot;,&quot;Open Sans&quot;,Corbel,sans-serif;font-size:14px;line-height:1.5;background-color:transparent">
                              <tbody>
                                <tr style="border-color:transparent">
                                  <td cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-color:transparent">
                                    <table width="100%" cellpadding="0" cellspacing="0" id="m_-1254739047852656969m_1298901589622155414wout_block_out_block_17" style="border-collapse:collapse;color:#778ff9;font-family:&quot;Segoe UI&quot;,Segoe,&quot;Avenir Next&quot;,&quot;Open Sans&quot;,Corbel,sans-serif;font-size:14px;line-height:1.5;font-weight:normal;margin:0">
                                      <tbody>
                                        <tr style="border-color:transparent">
                                          <td colspan="3" width="100%" height="1" style="border-collapse:collapse;border-color:transparent"></td>
                                        </tr>
                                        <tr style="border-color:transparent">
                                          <td style="border-collapse:collapse;border-color:transparent;width:10px!important" width="10" height="100%"></td>
                                          <td width="275" style="border-collapse:collapse;border-color:transparent;vertical-align:top" valign="top">
                                            <p style="font-size:inherit;line-height:inherit;margin:0 0 10px;color:#778ff9;font-family:&quot;Segoe UI&quot;,Segoe,&quot;Avenir Next&quot;,&quot;Open Sans&quot;,Corbel,sans-serif;font-weight:normal;padding:0">{{ description }}</p>
                                          </td>
                                          <td style="border-collapse:collapse;border-color:transparent;width:15px!important" width="15" height="100%"></td>
                                        </tr>
                                        <tr style="border-color:transparent">
                                          <td colspan="3" width="100%" height="5" style="border-collapse:collapse;border-color:transparent"></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <table border="0" width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;color:#444;font-family:&quot;Segoe UI&quot;,Segoe,&quot;Avenir Next&quot;,&quot;Open Sans&quot;,Corbel,sans-serif;font-size:14px;line-height:1.5;background-color:transparent">
                              <tbody>
                                <tr style="border-color:transparent">
                                  <td cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-color:transparent">
                                    <table width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;color:#444;font-family:&quot;Segoe UI&quot;,Segoe,&quot;Avenir Next&quot;,&quot;Open Sans&quot;,Corbel,sans-serif;font-size:14px;line-height:1.5">
                                      <tbody>
                                        <tr style="border-color:transparent">
                                          <td colspan="3" width="100%" height="10" style="border-collapse:collapse;border-color:transparent"></td>
                                        </tr>
                                        <tr style="border-color:transparent">
                                          <td style="border-collapse:collapse;border-color:transparent;width:10px!important" width="10" height="100%"></td>
                                          <td width="275" style="border-collapse:collapse;border-color:transparent;vertical-align:top" valign="top">
                                            <table cellpadding="0" border="0" cellspacing="0" align="left" width="100% !important" style="border-collapse:collapse;color:#444;font-family:&quot;Segoe UI&quot;,Segoe,&quot;Avenir Next&quot;,&quot;Open Sans&quot;,Corbel,sans-serif;font-size:14px;line-height:1.5;border-color:#ddd;border-style:solid;border-width:1px;border:0;background:#778ff9;border-radius:30px;max-width:200px!important;width:100%!important">
                                              <tbody>
                                                <tr style="border-color:transparent">
                                                  <td style="border-collapse:collapse;border-color:transparent;padding:0;border-style:none;border-width:0;border:0;border-radius:30px;height:40px;text-align:center;vertical-align:middle;width:200px" height="40" align="center" valign="middle" width="200">
                                                    <table cellpadding="0" border="0" cellspacing="0" width="100%" style="border-collapse:collapse;color:#444;font-family:&quot;Segoe UI&quot;,Segoe,&quot;Avenir Next&quot;,&quot;Open Sans&quot;,Corbel,sans-serif;font-size:14px;line-height:1.5;border:0">
                                                      <tbody>
                                                        <tr style="border-color:transparent">
                                                          <td align="center" style="border-collapse:collapse;border-color:transparent;padding:0;line-height:1;border:0"><a style="text-decoration:none;color:#fff;display:block;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif;font-size:14px;font-weight:normal;padding:13px 0" href="{{ URL }}" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://https&amp;source=gmail&amp;ust=1597161157485000&amp;usg=AFQjCNGyIVCF0EfdOidD2KVHGbnlf250VQ">{{ btn_name }}</a></td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                          <td style="border-collapse:collapse;border-color:transparent;width:15px!important" width="15" height="100%"></td>
                                        </tr>
                                        <tr style="border-color:transparent">
                                          <td colspan="3" width="100%" height="15" style="border-collapse:collapse;border-color:transparent"></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </th>
                          <th width="300" style="border-color:transparent;font-weight:400;text-align:left;vertical-align:top" cellpadding="0" cellspacing="0" align="left" valign="top">
                            <table border="0" width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;color:#444;font-family:&quot;Segoe UI&quot;,Segoe,&quot;Avenir Next&quot;,&quot;Open Sans&quot;,Corbel,sans-serif;font-size:14px;line-height:1.5;background-color:transparent">
                              <tbody>
                                <tr style="border-color:transparent">
                                  <td cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-color:transparent">
                                    <table width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;color:#444;font-family:&quot;Segoe UI&quot;,Segoe,&quot;Avenir Next&quot;,&quot;Open Sans&quot;,Corbel,sans-serif;font-size:14px;line-height:1.5;height:10px;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0" height="10">
                                      <tbody>
                                        <tr style="border-color:transparent">
                                          <td height="10" style="border-collapse:collapse;border-color:transparent"></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <table border="0" width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;color:#444;font-family:&quot;Segoe UI&quot;,Segoe,&quot;Avenir Next&quot;,&quot;Open Sans&quot;,Corbel,sans-serif;font-size:14px;line-height:1.5;background-color:transparent">
                              <tbody>
                                <tr style="border-color:transparent">
                                  <td cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-color:transparent">
                                    <table width="100%" cellpadding="0" cellspacing="0" id="m_-1254739047852656969m_1298901589622155414wout_block_14_element_0" style="border-collapse:collapse;color:#444;font-family:&quot;Segoe UI&quot;,Segoe,&quot;Avenir Next&quot;,&quot;Open Sans&quot;,Corbel,sans-serif;font-size:14px;line-height:1.5">
                                      <tbody>
                                        <tr style="border-color:transparent">
                                          <td colspan="2" width="100%" height="10" style="border-collapse:collapse;border-color:transparent"></td>
                                        </tr>
                                        <tr style="border-color:transparent">
                                          <td style="border-collapse:collapse;border-color:transparent;width:30px!important" width="30" height="100%"></td>
                                          <td width="270" style="border-collapse:collapse;border-color:transparent;vertical-align:top" valign="top">
                                            <div id="m_-1254739047852656969m_1298901589622155414wout_block_14_element_0" style="color:#444;font-family:&quot;Segoe UI&quot;,Segoe,&quot;Avenir Next&quot;,&quot;Open Sans&quot;,Corbel,sans-serif;font-size:14px;line-height:1.5;display:block;height:220;text-align:center;width:100%" height="220" align="center" width="100%">
                                              <center><img border="0" width="270" height="auto" align="center" alt="confirm-mail" src="https://ci5.googleusercontent.com/proxy/Ywn_BMwP8Dal8vjH4ypKxTdDomw-kxE7PuKeWO4D4-tIt-8a5EAhtqTi49xaTQBIc1sR4Qh8A3NNy5GtcwcG7grJIqgUjb1Ybu42fyecQGRXbysp3gqwGWHyPgfznedixz-ufXyJxbC73gos9kia06LVxTtMYN-k8BJAZ81zSMJbsOTf-r04sBs24QTIBjdVIqo=s0-d-e1-ft#https://s7441865.sendpul.se/files/emailservice/userfiles/e87c2cc59bdd62b30b9245c0a00c5c32366067/abandoned_cart/confirm-mail.png" style="text-decoration:none;border:0;height:auto;line-height:100%;outline:0;display:block" class="CToWUd"></center>
                                            </div>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr style="border-color:transparent">
                  <td border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-color:transparent">
                    <table cellpadding="0" cellspacing="0" style="border-collapse:collapse;color:#444;font-family:&quot;Segoe UI&quot;,Segoe,&quot;Avenir Next&quot;,&quot;Open Sans&quot;,Corbel,sans-serif;font-size:14px;line-height:1.5;width:100%" border="0" width="100%">
                      <tbody>
                        <tr style="border-color:transparent">
                          <th width="600" style="border-color:transparent;font-weight:400;text-align:left;vertical-align:top" cellpadding="0" cellspacing="0" align="left" valign="top">
                            <table border="0" width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;color:#444;font-family:&quot;Segoe UI&quot;,Segoe,&quot;Avenir Next&quot;,&quot;Open Sans&quot;,Corbel,sans-serif;font-size:14px;line-height:1.5;background-color:transparent">
                              <tbody>
                                <tr style="border-color:transparent">
                                  <td cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-color:transparent">
                                    <div style="color:#444;font-family:&quot;Segoe UI&quot;,Segoe,&quot;Avenir Next&quot;,&quot;Open Sans&quot;,Corbel,sans-serif;font-size:14px;line-height:1.5;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0">
                                      <hr id="m_-1254739047852656969m_1298901589622155414iout_block_13_element_0" style="margin:0;border-bottom:0;border-left:0;border-right:0;border-top-color:#638be2;border-top-style:solid;border-top-width:3px">
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <table border="0" width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;color:#444;font-family:&quot;Segoe UI&quot;,Segoe,&quot;Avenir Next&quot;,&quot;Open Sans&quot;,Corbel,sans-serif;font-size:14px;line-height:1.5;background-color:transparent">
                              <tbody>
                                <tr style="border-color:transparent">
                                  <td cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-color:transparent">
                                    <table width="100%" cellpadding="0" cellspacing="0" id="m_-1254739047852656969m_1298901589622155414wout_block_21_element_0" style="border-collapse:collapse;color:#444;font-family:&quot;Segoe UI&quot;,Segoe,&quot;Avenir Next&quot;,&quot;Open Sans&quot;,Corbel,sans-serif;font-size:14px;line-height:1.5">
                                      <tbody>
                                        <tr style="border-color:transparent">
                                          <td style="border-collapse:collapse;border-color:transparent;width:15px!important" width="15" height="100%"></td>
                                          <td width="570" style="border-collapse:collapse;border-color:transparent;vertical-align:top" valign="top">
                                            <div id="m_-1254739047852656969m_1298901589622155414wout_block_21_element_0" style="color:#444;font-family:&quot;Segoe UI&quot;,Segoe,&quot;Avenir Next&quot;,&quot;Open Sans&quot;,Corbel,sans-serif;font-size:14px;line-height:1.5;display:block;height:31;text-align:center;width:100%" height="31" align="center" width="100%">
                                              <center><img border="0" width="401" height="auto" align="center" alt="bg-underline" src="https://ci4.googleusercontent.com/proxy/Go_GC2AM6iXFDEUbAe9mmAG15CHLI6UVe-36J9tcGZF2dXbANzIih1BZCHAmdwogOETaQQ7sGfHhmzB6_m-6adlntr8Vy3lCWO6DzuBLxdpUKlDNk8qTJkiUSPoBPQ75na9OLVaFtKMNRPGJsdj_TKn1DLXVRZn-VG9ZyKrkNVxlkuPSGctJ8T_Et6d3fbfGNbM=s0-d-e1-ft#https://s7441865.sendpul.se/files/emailservice/userfiles/e87c2cc59bdd62b30b9245c0a00c5c32366067/abandoned_cart/bg-underline.png" style="text-decoration:none;border:0;height:auto;line-height:100%;outline:0;display:block" class="CToWUd"></center>
                                            </div>
                                          </td>
                                          <td style="border-collapse:collapse;border-color:transparent;width:15px!important" width="15" height="100%"></td>
                                        </tr>
                                        <tr style="border-color:transparent">
                                          <td colspan="3" width="100%" height="40" style="border-collapse:collapse;border-color:transparent"></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr style="border-color:transparent">
                  <td border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-color:transparent">
                    <table cellpadding="0" cellspacing="0" style="border-collapse:collapse;color:#444;font-family:&quot;Segoe UI&quot;,Segoe,&quot;Avenir Next&quot;,&quot;Open Sans&quot;,Corbel,sans-serif;font-size:14px;line-height:1.5;width:100%" border="0" width="100%">
                      <tbody>
                        <tr style="border-color:transparent">
                          <th width="600" style="border-color:transparent;font-weight:400;text-align:left;vertical-align:top" cellpadding="0" cellspacing="0" align="left" valign="top">
                            <table border="0" width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;color:#444;font-family:&quot;Segoe UI&quot;,Segoe,&quot;Avenir Next&quot;,&quot;Open Sans&quot;,Corbel,sans-serif;font-size:14px;line-height:1.5;background-color:#fff" bgcolor="#FFFFFF">
                              <tbody>
                                <tr style="border-color:transparent">
                                  <td cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-color:transparent">
                                    <table width="100%" cellpadding="0" cellspacing="0" id="m_-1254739047852656969m_1298901589622155414wout_block_out_block_10" style="border-collapse:collapse;color:#759cc9;font-family:&quot;Segoe UI&quot;,Segoe,&quot;Avenir Next&quot;,&quot;Open Sans&quot;,Corbel,sans-serif;font-size:14px;line-height:1.5;background-color:#fff;font-weight:normal;margin:0" bgcolor="#FFFFFF">
                                      <tbody>
                                        <tr style="border-color:transparent">
                                          <td colspan="3" width="100%" height="30" style="border-collapse:collapse;border-color:transparent"></td>
                                        </tr>
                                        <tr style="border-color:transparent">
                                          <td style="border-collapse:collapse;border-color:transparent;width:30px!important" width="30" height="100%"></td>
                                          <td style="border-collapse:collapse;border-color:transparent;width:30px!important" width="30" height="100%"></td>
                                        </tr>
                                        <tr style="border-color:transparent">
                                          <td colspan="3" width="100%" height="30" style="border-collapse:collapse;border-color:transparent"></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <table border="0" width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;color:#444;font-family:&quot;Segoe UI&quot;,Segoe,&quot;Avenir Next&quot;,&quot;Open Sans&quot;,Corbel,sans-serif;font-size:14px;line-height:1.5;background-color:transparent">
                              <tbody>
                                <tr style="border-color:transparent">
                                  <td cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-color:transparent">
                                    <table width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;color:#444;font-family:&quot;Segoe UI&quot;,Segoe,&quot;Avenir Next&quot;,&quot;Open Sans&quot;,Corbel,sans-serif;font-size:14px;line-height:1.5;text-align:center" align="center">
                                      <tbody>
                                        <tr style="border-color:transparent">
                                          <td colspan="3" width="100%" height="15" style="border-collapse:collapse;border-color:transparent"></td>
                                        </tr>
                                        <tr style="border-color:transparent">
                                          <td style="border-collapse:collapse;border-color:transparent;width:15px!important" width="15" height="100%"></td>
                                          <td width="570" style="border-collapse:collapse;border-color:transparent;vertical-align:top" valign="top">
                                            <table cellpadding="5" border="0" cellspacing="0" style="border-collapse:collapse;color:#444;font-family:&quot;Segoe UI&quot;,Segoe,&quot;Avenir Next&quot;,&quot;Open Sans&quot;,Corbel,sans-serif;font-size:14px;line-height:1;border-color:transparent;border-style:none;border-width:0;border:0;border-spacing:0;display:inline-block">
                                              <tbody>
                                                <tr style="border-color:transparent">
                                                  <th style="border-color:transparent;font-family:Arial,sans-serif;font-size:13px;line-height:32px;padding:2px 5px;font-weight:400;text-align:left;border-style:none;border-width:0;border:0" align="left">
                                                    <a href="https://www.facebook.com/" style="text-decoration:none;color:#40c7a7" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/&amp;source=gmail&amp;ust=1597161157486000&amp;usg=AFQjCNHAFy0eFiPkvQQNYEfS-BWi5eykuA"><img border="0" alt="Facebook" style="text-decoration:none;border:0;height:auto;line-height:100%;outline:0;border-color:transparent;border-style:none;border-width:0;display:block;margin:5px" vspace="5" hspace="5" title="Facebook" width="32" height="auto" src="https://ci4.googleusercontent.com/proxy/qStij2vLe0jOUZZussHn7FV5tXfX3OKk23hrQXShvC7_8Bc8ajbQ7ca3AP5qyne5LAEa0UM1cIFZmFQ-zWoye0Ny_tf-muojbUKjG23WbXh3JoYoCSyPoQ=s0-d-e1-ft#https://s7441865.sendpul.se/img/constructor/social/logos/facebook.png" class="CToWUd"></a>
                                                  </th>
                                                  <th style="border-color:transparent;font-family:Arial,sans-serif;font-size:13px;line-height:32px;padding:2px 5px;font-weight:400;text-align:left;border-style:none;border-width:0;border:0" align="left">
                                                    <a href="https://twitter.com/" style="text-decoration:none;color:#40c7a7" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://twitter.com/&amp;source=gmail&amp;ust=1597161157486000&amp;usg=AFQjCNEy206sWFO2UJ219uIn2VWil4LUKA"><img border="0" alt="Twitter" style="text-decoration:none;border:0;height:auto;line-height:100%;outline:0;border-color:transparent;border-style:none;border-width:0;display:block;margin:5px" vspace="5" hspace="5" title="Twitter" width="32" height="auto" src="https://ci4.googleusercontent.com/proxy/kEOfsLzWpVfP2svM33BNjwKbvJ9YNaQ95fdZB3ZfVW5WtRfN2oNaxSs60fB8kcimJlCzbBwpX-LxuJ1ubcKkOQmGV-UNtsW6SUWf0gdFNwnJlRCr0ul3=s0-d-e1-ft#https://s7441865.sendpul.se/img/constructor/social/logos/twitter.png" class="CToWUd"></a>
                                                  </th>
                                                  <th style="border-color:transparent;font-family:Arial,sans-serif;font-size:13px;line-height:32px;padding:2px 5px;font-weight:400;text-align:left;border-style:none;border-width:0;border:0" align="left">
                                                    <a href="https://www.instagram.com/" style="text-decoration:none;color:#40c7a7" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/&amp;source=gmail&amp;ust=1597161157486000&amp;usg=AFQjCNGPHsgVZkbljwHVcaubQ88GKe6_jg"><img border="0" alt="Instagram" style="text-decoration:none;border:0;height:auto;line-height:100%;outline:0;border-color:transparent;border-style:none;border-width:0;display:block;margin:5px" vspace="5" hspace="5" title="Instagram" width="32" height="auto" src="https://ci5.googleusercontent.com/proxy/MdTI7diwDjPDy1MyHodmOj2iWRxw1B8t8-5WOPrYgHT0U7sDOT3Yn111Pgy_T2hiNz_P4lIqeBfMosgPTYk_sb3p34A4_1Ag4j3SL1UG1NCkqVSHwC5LSQc=s0-d-e1-ft#https://s7441865.sendpul.se/img/constructor/social/logos/instagram.png" class="CToWUd"></a>
                                                  </th>
                                                  <th style="border-color:transparent;font-family:Arial,sans-serif;font-size:13px;line-height:32px;padding:2px 5px;font-weight:400;text-align:left;border-style:none;border-width:0;border:0" align="left">
                                                    <a href="https://www.youtube.com/" style="text-decoration:none;color:#40c7a7" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.youtube.com/&amp;source=gmail&amp;ust=1597161157486000&amp;usg=AFQjCNHV3XHnFTJQf6ato80hebddoNx_UQ"><img border="0" alt="YouTube" style="text-decoration:none;border:0;height:auto;line-height:100%;outline:0;border-color:transparent;border-style:none;border-width:0;display:block;margin:5px" vspace="5" hspace="5" title="YouTube" width="32" height="auto" src="https://ci3.googleusercontent.com/proxy/FrH90AXVMjn6Muhusde6J1N17r19MUpurt3xrz89GSEAhhnL3J5RIbpIh6LmnnBaFXiXeglbUWYuZ6LMTS3x9ZtVP7Y2JsojX0GSgV7qlXvgCSWEj8NJ=s0-d-e1-ft#https://s7441865.sendpul.se/img/constructor/social/logos/youtube.png" class="CToWUd"></a>
                                                  </th>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                          <td style="border-collapse:collapse;border-color:transparent;width:15px!important" width="15" height="100%"></td>
                                        </tr>
                                        <tr style="border-color:transparent">
                                          <td colspan="3" width="100%" height="15" style="border-collapse:collapse;border-color:transparent"></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <table width="600px" style="border-collapse:collapse;color:#444;font-family:&quot;Segoe UI&quot;,Segoe,&quot;Avenir Next&quot;,&quot;Open Sans&quot;,Corbel,sans-serif;font-size:14px;line-height:1.5">
              <tbody>
                <tr style="border-color:transparent">
                  <td style="border-collapse:collapse;border-color:transparent;text-align:center" align="center">
                    <div align="center" style="color:#444;font-family:&quot;Segoe UI&quot;,Segoe,&quot;Avenir Next&quot;,&quot;Open Sans&quot;,Corbel,sans-serif;font-size:14px;line-height:1.5;padding-bottom:8px;padding-top:8px">
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="yj6qo"></div>
    <div class="adL">
    </div>
  </div>